Cython==0.21.1
GnuPGInterface==0.3.2
PIL==1.1.7
UniConvertor==1.1.4
argparse==1.2.1
chardet==2.0.1
click==3.3
cx-Freeze==4.3.3
defer==1.0.2
dispy==3.15
lxml==2.3.2
matplotlib==1.4.0
mock==1.0.1
nose==1.3.4
numpy==1.8.2
profiling==0.0.0.dev
pycurl==7.19.0
pyparsing==2.0.2
python-apt==0.8.3ubuntu7.2
python-dateutil==2.2
python-debian==0.1.21ubuntu1
reportlab==2.5
scipy==0.14.0
six==1.8.0
smallscript==0.3
unattended-upgrades==0.1
urwid==1.2.1
virtualenv==1.11.6
wsgiref==0.1.2
